nav{
    position: sticky;
    top:0%;
    background-color: #009879;
    padding:0.6em;
    z-index: 1;
    height: 70px;
}
.logo{
    color:#ffffff;
    font-weight: 5000;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
}
.goto-login-text{
    border-radius: 7px;
    padding:0.5em 1em;
    border: 2px solid #009879;
    background: white;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    font-weight: bolder;
    font-size:large;
    color: #009879;
}
.goto-login-text:focus{
    color: #009879;
}
.goto-login-text:active{
    color: #009879;
}
.goto-login-text:hover {
    border: 2px solid #009879;
    background: #009879;
    cursor: pointer;
    color:white;
    transition: all 0.4s ease-in-out;
    color:white;
}
.userName{
    border:2px solid #009879;
    border-radius: 100%;
    text-align: center;
    font-size:xx-large;
    background-color: #fff;
    color: #009879;
    font-weight: bolder;
    width:50px;
    height:50px;
}